<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    
    <add name="BootCampDbConnection" connectionString="Data Source=localhost;Intial Catalog=bootcampTutDb;Integrated Security=True;"/>

    <add name="BootCampDbConnectionQA" connectionString="Data Source=QAServer;Intial Catalog=bootcampTutDb;Integrated Security=True;"/>

    <add name="BootCampDbConnectionUAT" connectionString="Data Source=StatgingServer;Intial Catalog=bootcampTutDb;Integrated Security=True;"/>
    <add name="BootCampDbConnectionPROD" connectionString="Data Source=ProdServer;Intial Catalog=bootcampTutDb;Integrated Security=True;"/>
    
    
  </connectionStrings>
  
</configuration>